<nav>
  <div class="container-fluid">
    <div class="d-flex justifty-content-between align-items-center w-100">
      <img src="../../../assets/logo.png" alt="school-logo" class="logo ms-4" />

      <div class="d-flex align-items-center ms-auto">
        <button class="me-4 btn">
          <i class="fa-regular fa-comment"></i>
        </button>
        <button class="mx-3 btn">
          <i class="fa-regular fa-bell"></i>
        </button>
        <div class="profile d-flex ms-4">
          <img
            src="../../../assets/asddd.jpg"
            class="profile-pic rounded-circle"
            alt="profile-pic"
          />
          <p class="m-0 ms-3 d-flex align-items-center">
            Mahmoud Hatem
            <i class="fa-solid fa-angle-down ms-2"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
