.documents-modal {
  .modal-dialog {
    .modal-content {
      padding: 50px 40px;
      .modal-header {
        padding: 0;
        padding-bottom: 32px;
        border: none;
        h4.modal-title {
          font: normal normal 500 24px Poppins;
          color: #484848;
          margin: 0;
        }
        button.close-btn {
          color: #cfd1f8;
          font-size: 22px;
          background-color: #fff;
          border: 0;
          &:hover {
            color: #a0a6ff;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      .modal-body {
      }
    }
  }
}
