<div class="create-quiz-body">
  <form>
    <div class="row">
      <div class="col-4">
        <label class="form-label" for="quiz">Quiz Name</label>
        <input type="text" class="form-control w-100" id="quiz" name="quiz" />
      </div>
      <div class="col-4">
        <label class="form-label">Course Name</label>
        <select name="course" id="course" class="form-select w-100">
          <option value="biology" selected>010-Biology</option>
        </select>
      </div>
      <div class="col-4">
        <label class="form-label">Class</label>
        <select name="class" id="class" class="form-select w-100">
          <option value="class" selected>7 Limba, 7 Aqua</option>
        </select>
      </div>
      <div class="col-4">
        <label class="form-label" for="topic">Topic</label>
        <input type="text" class="form-control w-100" id="topic" name="topic" />
      </div>
      <div class="col-4">
        <label class="form-label" for="date">Due Date</label>
        <input type="date" class="form-control w-100" id="date" name="date" />
      </div>
    </div>

    <button
      type="button"
      class="add-btn"
      data-bs-toggle="modal"
      data-bs-target="#questionModal"
    >
      <i class="fa-regular fa-circle-check"></i>
      Add New Question
    </button>

    <!-- Modal -->
    <div
      class="modal modal-xl fade"
      id="questionModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content p-4">
          <div class="close-btn d-flex justify-content-end">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h2 class="modal-title">Add Question</h2>
            <form>
              <div class="row gy-3">
                <div class="col-3">
                  <label for="topic" class="form-label">Topic</label>
                  <input
                    type="text"
                    id="topic"
                    name="topic"
                    value="Biology Lession1"
                    class="form-control"
                  />
                </div>
                <div class="col-3">
                  <label for="course" class="form-label">Course Name</label>
                  <select name="course" id="course" class="form-select w-100">
                    <option value="biology" selected>010-Biology</option>
                  </select>
                </div>
                <div class="col-3">
                  <label for="duration" class="form-label">
                    Question Duration
                  </label>
                  <input
                    type="text"
                    id="duration"
                    name="duration"
                    value="10 m"
                    class="form-control"
                  />
                </div>
                <div class="col-3">
                  <label for="score" class="form-label">Score</label>
                  <input
                    type="number"
                    id="score"
                    name="score"
                    value="100"
                    class="form-control"
                  />
                </div>
                <div class="col-12">
                  <label for="question" class="form-label">Question</label>
                  <textarea
                    name="question"
                    id="question"
                    rows="3"
                    class="form-control"
                  ></textarea>
                </div>
                <div class="col-6">
                  <label for="correct_answer" class="form-label">
                    Correct Answer
                  </label>
                  <textarea
                    rows="3"
                    id="correct_answer"
                    name="correct_answer"
                    class="form-control answer"
                  ></textarea>
                </div>
                <div class="col-6">
                  <label for="wrong_answer_1" class="form-label">
                    Wrong Answer 1
                  </label>
                  <textarea
                    rows="3"
                    id="wrong_answer_1"
                    name="wrong_answer_1"
                    class="form-control answer"
                  ></textarea>
                </div>
                <div class="col-6">
                  <label for="wrong_answer_2" class="form-label">
                    Wrong Answer 2
                  </label>
                  <textarea
                    rows="3"
                    id="wrong_answer_2"
                    name="wrong_answer_2"
                    class="form-control answer"
                  ></textarea>
                </div>
                <div class="col-6">
                  <label for="wrong_answer_3" class="form-label">
                    Wrong Answer 3
                  </label>
                  <textarea
                    rows="3"
                    id="wrong_answer_3"
                    name="wrong_answer_3"
                    class="form-control answer"
                  ></textarea>
                </div>
                <div class="col-6">
                  <label for="wrong_answer_4" class="form-label">
                    Wrong Answer 4
                  </label>
                  <textarea
                    rows="3"
                    id="wrong_answer_4"
                    name="wrong_answer_4"
                    class="form-control answer"
                  ></textarea>
                </div>
                <div class="col-6">
                  <label for="wrong_answer_5" class="form-label">
                    Wrong Answer 5
                  </label>
                  <textarea
                    rows="3"
                    id="wrong_answer_5"
                    name="wrong_answer_5"
                    class="form-control answer"
                  ></textarea>
                </div>
              </div>
              <div
                class="btn-group d-flex justify-content-end align-items-center gap-3"
              >
                <button class="publish-btn" type="submit">
                  Save and Publish
                </button>
                <button class="save-btn" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-quiz-list></app-quiz-list>

    <div class="btn-group d-flex justify-content-end align-items-center gap-3">
      <button class="publish-btn" type="submit">Save and Publish</button>
      <button class="save-btn" type="submit">Save</button>
    </div>
  </form>
</div>
