.create-quiz-body {
  label {
    font-size: 24px;
  }
  input,
  select {
    height: 50px;
    border-radius: 15px;
    margin-bottom: 30px;

    &:focus {
      box-shadow: none;
    }
  }

  .add-btn {
    border: none;
    background-color: transparent;
    color: #29617c;
    margin-bottom: 30px;

    &:hover {
      color: #000;
    }

    & i {
      margin-right: 10px;
    }
  }

  .modal {
    .close-btn {
      margin-bottom: 10px;
      button {
        box-shadow: none;
      }
    }
    .modal-body {
      border: 1px solid #000;
      padding: 30px;
      .modal-title {
        font-size: 28px;
        color: #215b76;
        margin-bottom: 30px;
      }
      form {
        .row {
          margin-bottom: 30px;
          label {
            font: 20px;
          }
          textarea {
            border-radius: 15px;
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .btn-group {
    button {
      border: none;
      padding: 15px 30px;
      border-radius: 8px;
      color: #fff;
    }

    .save-btn {
      background-color: #337b9d;
      &:hover {
        background-color: darken(#337b9d, 10%);
      }
    }

    .publish-btn {
      background-color: #15838d;
      &:hover {
        background-color: darken(#15838d, 10%);
      }
    }
  }
}
