<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 p-0">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-10 p-0">
      <section class="quiz-section">
        <nav class="breadcrumb-body">
          <ol class="breadcrumb">
            <li class="main-link"><a href="#">Quiz Bank</a></li>
            <span>/</span>
            <li class="sub-link"><a href="#">Quizzes</a></li>
          </ol>
        </nav>
        <div class="body">
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
  </div>
</div>
