<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Division</th>
      <th scope="col">Course Name</th>
      <th scope="col">Quiz</th>
      <th scope="col">Topic</th>
      <th scope="col">No of questions</th>
      <th scope="col">Data</th>
      <th scope="col">Times taken</th>
      <th scope="col">Overall Result</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>dasdo</td>
      <td>adsddo</td>
      <td>asdasdso</td>
      <td>sadsdo</td>
      <td>24</td>
      <td>
        <button mat-button [matMenuTriggerFor]="options">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #options="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>dasdo</td>
      <td>adsddo</td>
      <td>asdasdso</td>
      <td>sadsdo</td>
      <td>24</td>
      <td>
        <button mat-button [matMenuTriggerFor]="options">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #options="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>dasdo</td>
      <td>adsddo</td>
      <td>asdasdso</td>
      <td>sadsdo</td>
      <td>24</td>
      <td>
        <button mat-button [matMenuTriggerFor]="options">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #options="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>
